.home-page {
  /* background-color: rgb(250, 241, 160); */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
}
.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5em;
}
.user-div {
  background-color: rgb(232, 230, 230);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.user-div h1 {
  text-align: center;
}
.user-image {
  width: 13vw;
  border: 1px solid black;
}
.add-user {
  width: 10vw;
  height: 5vh;
  background-color: rgb(253, 219, 49);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto auto;
  margin-top: 20px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  color: black;
  border: 1px solid black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.add-user:hover {
  background-color: rgb(207, 197, 107);
}
