.add-user-form {
    background-color: rgb(250, 241, 160);
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* margin-left: 20px; */
}
.add-user-form input {
    width: 25vw;
    height: 5vh;
    font-size: 22px;
    color: rgb(14, 14, 14);
    background-color: rgb(249, 249, 246);
    border-radius: 5px;
    margin-top: 10px;
}
.add-btns {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    
    border-radius: 10px;
    width: vw;
    height: 5vh;
    font-size: 18px;
}